<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cht</key>
		<string>[哭笑]</string>
		<key>png</key>
		<string>哭笑</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[微笑]</string>
		<key>png</key>
		<string>微笑</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[哈哈]</string>
		<key>png</key>
		<string>哈哈</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[嘻嘻]</string>
		<key>png</key>
		<string>嘻嘻</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[偷笑]</string>
		<key>png</key>
		<string>偷笑</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[得意]</string>
		<key>png</key>
		<string>得意</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[滑稽]</string>
		<key>png</key>
		<string>滑稽</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[飞吻]</string>
		<key>png</key>
		<string>飞吻</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[打脸]</string>
		<key>png</key>
		<string>打脸</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[挖鼻孔]</string>
		<key>png</key>
		<string>挖鼻孔</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[摊手]</string>
		<key>png</key>
		<string>摊手</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[无聊]</string>
		<key>png</key>
		<string>无聊</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[BINGO]</string>
		<key>png</key>
		<string>BINGO</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[疑问]</string>
		<key>png</key>
		<string>疑问</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[委屈]</string>
		<key>png</key>
		<string>委屈</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[害羞]</string>
		<key>png</key>
		<string>害羞</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[汗]</string>
		<key>png</key>
		<string>汗</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[冷]</string>
		<key>png</key>
		<string>冷</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[斜眼]</string>
		<key>png</key>
		<string>斜眼</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[尴尬]</string>
		<key>png</key>
		<string>尴尬</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[鼓掌]</string>
		<key>png</key>
		<string>鼓掌</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[机智]</string>
		<key>png</key>
		<string>机智</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[污]</string>
		<key>png</key>
		<string>污</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[捂脸]</string>
		<key>png</key>
		<string>捂脸</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[扶眼镜]</string>
		<key>png</key>
		<string>扶眼镜</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊恐]</string>
		<key>png</key>
		<string>惊恐</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[咆哮]</string>
		<key>png</key>
		<string>咆哮</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[泪]</string>
		<key>png</key>
		<string>泪</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[可怜]</string>
		<key>png</key>
		<string>可怜</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[思考]</string>
		<key>png</key>
		<string>思考</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[仰慕]</string>
		<key>png</key>
		<string>仰慕</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[酷]</string>
		<key>png</key>
		<string>酷</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[流鼻血]</string>
		<key>png</key>
		<string>流鼻血</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[吐舌头]</string>
		<key>png</key>
		<string>吐舌头</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[愤怒]</string>
		<key>png</key>
		<string>愤怒</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[NO]</string>
		<key>png</key>
		<string>NO</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[鄙视]</string>
		<key>png</key>
		<string>鄙视</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[喷]</string>
		<key>png</key>
		<string>喷</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[生病]</string>
		<key>png</key>
		<string>生病</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[鬼脸]</string>
		<key>png</key>
		<string>鬼脸</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[悲剧]</string>
		<key>png</key>
		<string>悲剧</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[摸头]</string>
		<key>png</key>
		<string>摸头</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[抓狂]</string>
		<key>png</key>
		<string>抓狂</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[凝视]</string>
		<key>png</key>
		<string>凝视</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[花心]</string>
		<key>png</key>
		<string>花心</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[再见]</string>
		<key>png</key>
		<string>再见</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[目瞪口呆]</string>
		<key>png</key>
		<string>目瞪口呆</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[呕吐]</string>
		<key>png</key>
		<string>呕吐</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[闭嘴]</string>
		<key>png</key>
		<string>闭嘴</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[晕]</string>
		<key>png</key>
		<string>晕</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[瞌睡]</string>
		<key>png</key>
		<string>瞌睡</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[衰]</string>
		<key>png</key>
		<string>衰</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[饿]</string>
		<key>png</key>
		<string>饿</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[加油]</string>
		<key>png</key>
		<string>加油</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[财迷]</string>
		<key>png</key>
		<string>财迷</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[剪刀手]</string>
		<key>png</key>
		<string>剪刀手</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[坏笑]</string>
		<key>png</key>
		<string>坏笑</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[不开心]</string>
		<key>png</key>
		<string>不开心</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>惊讶</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[舔屏]</string>
		<key>png</key>
		<string>舔屏</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[砸死你]</string>
		<key>png</key>
		<string>砸死你</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[白眼]</string>
		<key>png</key>
		<string>白眼</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[囧]</string>
		<key>png</key>
		<string>囧</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[左哼哼]</string>
		<key>png</key>
		<string>左哼哼</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[右哼哼]</string>
		<key>png</key>
		<string>右哼哼</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[屁股]</string>
		<key>png</key>
		<string>屁股</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[雷焦]</string>
		<key>png</key>
		<string>雷焦</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[GOOD]</string>
		<key>png</key>
		<string>GOOD</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[BAD]</string>
		<key>png</key>
		<string>BAD</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[OK]</string>
		<key>png</key>
		<string>OK</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[ROCK]</string>
		<key>png</key>
		<string>ROCK</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[握手]</string>
		<key>png</key>
		<string>握手</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[举个例子]</string>
		<key>png</key>
		<string>举个例子</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[比心]</string>
		<key>png</key>
		<string>比心</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[勾引]</string>
		<key>png</key>
		<string>勾引</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[加一]</string>
		<key>png</key>
		<string>加一</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[拉勾]</string>
		<key>png</key>
		<string>拉勾</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[抱抱]</string>
		<key>png</key>
		<string>抱抱</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[围观]</string>
		<key>png</key>
		<string>围观</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[花]</string>
		<key>png</key>
		<string>花</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[大便]</string>
		<key>png</key>
		<string>大便</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[蛋糕]</string>
		<key>png</key>
		<string>蛋糕</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[晚安]</string>
		<key>png</key>
		<string>晚安</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[礼物]</string>
		<key>png</key>
		<string>礼物</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[心]</string>
		<key>png</key>
		<string>心</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[心碎]</string>
		<key>png</key>
		<string>心碎</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[肥皂]</string>
		<key>png</key>
		<string>肥皂</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[猪鼻子]</string>
		<key>png</key>
		<string>猪鼻子</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[干杯]</string>
		<key>png</key>
		<string>干杯</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[狗]</string>
		<key>png</key>
		<string>狗</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[猫]</string>
		<key>png</key>
		<string>猫</string>
	</dict>
</array>
</plist>
